@charset "UTF-8";
* {
  box-sizing: border-box;
  line-height: 1.5;
}

::selection {
  background-color: #C95B38;
  color: #25252D;
}

body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --content-width: 66rem;
  --content-width-min: calc(100vw - 4rem);
}

body {
  font-family: "Cantarell", sans-serif;
  background-color: #2E2E37;
  color: #e4e4d1;
  overflow: hidden;
}
body.darken {
  transition: 1.5s ease-in;
  background-color: #25252D;
}
body.lighten {
  transition: 0.3s ease-in;
  background-color: #32323D;
}

body.darken section.title .star.dark {
  transition: 0.7s ease-out;
  width: 400vw;
  height: 400vw;
  bottom: -100vw;
  left: -100vw;
}

h1, h2, h3 {
  color: #FFFFE8;
}

.star {
  --scale: 1;
  --size: 35;
  width: calc(var(--size) * 1vw);
  height: calc(var(--size) * 1vw);
  position: absolute;
  animation-name: spin;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.triangle {
  --scale: 1;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  width: 4rem;
  height: 3.33rem;
  background-color: #C95B38;
  animation-name: spin;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(var(--scale));
  }
  to {
    transform: rotate(360deg) scale(var(--scale));
  }
}
a {
  text-decoration: none;
  color: #C95B38;
}

button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #C95B38;
  padding: 0.5rem 1rem;
  border: 1px solid #C95B38;
  text-transform: uppercase;
  transition: 0.2s;
  box-shadow: inset 0 0 #C95B38;
  font-weight: 400;
  font-family: "Source Code Pro";
  font-size: 1.2rem;
}
button:hover, button:focus-visible {
  transition: 0.2s;
  box-shadow: inset 12rem 0px #C95B38;
  color: #25252D;
  cursor: pointer;
}
button.b-text {
  border: none;
}

li {
  list-style-type: "✸";
  padding-inline-start: 1ch;
}

li::marker {
  color: #C95B38;
}

section {
  height: 100vh;
}

section.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.title header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  text-align: right;
}
section.title .center {
  position: relative;
  z-index: 2;
}
section.title .center h1 {
  font-size: 5.63rem;
  margin: 0;
  font-weight: 100;
  line-height: 1;
}
section.title .center h2 {
  margin: 0;
  font-weight: 300;
  font-size: 2.34rem;
  color: #e4e4d194;
  margin-bottom: 1rem;
}
section.title .center p {
  margin: 0;
  font-size: 1.13rem;
  color: #C95B38;
  font-family: "Source Code Pro";
}
section.title .down-arrow {
  position: absolute;
  left: calc(50% - 1.4rem);
  bottom: 3rem;
  width: 2.8rem;
  height: 2.8rem;
  transform: rotate(45deg);
  display: inline-block;
  border-right: 0.47rem solid #e4e4d1;
  border-bottom: 0.47rem solid #e4e4d1;
  transition: 0.2s;
  opacity: 0.7;
  animation-name: wiggle-constant;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
section.title .down-arrow:hover, section.title .down-arrow:focus-visible {
  transition: 0.2s;
  opacity: 1;
  border-color: #FFFFE8;
  animation-name: wiggle;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
section.title .down-arrow.hide {
  opacity: 0 !important;
}
section.title .triangle.a {
  bottom: 18rem;
  left: 8rem;
  animation-direction: reverse;
}
section.title .triangle.b {
  top: 16rem;
  right: 8rem;
  --scale: 0.7;
}
section.title .star.dark {
  fill: #25252D;
  --size: 45;
  bottom: -10vw;
  left: -20vw;
}
section.title .star.light {
  fill: #32323D;
  --size: 45;
  top: -5vw;
  right: -10vw;
}
@keyframes wiggle {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(55deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(52.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes wiggle-constant {
  50% {
    transform: rotate(45deg);
  }
  52.5% {
    transform: rotate(55deg);
  }
  55% {
    transform: rotate(30deg);
  }
  57.5% {
    transform: rotate(52.5deg);
  }
  60% {
    transform: rotate(45deg);
  }
}

section.projects {
  position: relative;
  height: unset;
}
section.projects article {
  padding-top: 7.5rem;
  max-width: var(--content-width);
  margin: 0 auto;
  height: 100vh;
  width: var(--content-width-min);
}
section.projects article .left, section.projects article .right {
  position: relative;
  z-index: 1;
}
section.projects article .left {
  float: left;
  width: 50%;
}
section.projects article .left h3 {
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  margin: 0;
}
section.projects article .left h3:before {
  content: "";
  display: inline-block;
  background-color: #C95B38;
  position: absolute;
}
section.projects article .left h3.inshape-1::before {
  width: 1.5rem;
  height: 1.5rem;
  left: -2.25rem;
  top: 1.6rem;
  border-radius: 1rem;
}
section.projects article .left h3.inshape-3::before {
  width: 1.5rem;
  height: 1.5rem;
  left: -2.25rem;
  top: 1.6rem;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  transform: scaleX(-1);
}
section.projects article .left h3.inshape-2::before {
  width: 1.5rem;
  height: 1.5rem;
  left: -2.25rem;
  top: 1.6rem;
  transform: rotate(45deg);
}
section.projects article .left p {
  margin-top: 0.45rem;
  font-size: 1.6rem;
  color: #e4e4d194;
}
section.projects article .right {
  float: right;
  width: 50%;
  font-size: 1.5rem;
}
section.projects article .right p {
  margin-bottom: 0.75rem;
}
section.projects article .right button {
  margin-top: 0.75rem;
}
section.projects article .display {
  padding-top: 13.5rem;
  position: relative;
}
section.projects article .display iframe {
  --scale: 0.52;
  --width: 84%;
  --height: 28.1rem;
  --border-width: 4px;
  --border-radius: 1rem;
  --box-shadow-y: 4px;
  --box-shadow-blur: 6px;
  width: calc(var(--width) / var(--scale));
  height: calc(var(--height) / var(--scale));
  border: calc(var(--border-width) / var(--scale)) solid #FFFFE8;
  border-radius: calc(var(--border-radius) / var(--scale));
  box-shadow: 0 calc(var(--box-shadow-y) / var(--scale)) calc(var(--box-shadow-blur) / var(--scale)) #0004;
  transform: scale(var(--scale));
  transform-origin: 0 0;
  position: relative;
  background: white;
}
section.projects article .display .mobile {
  --width: 20%;
  --height: 25.8rem;
  position: absolute;
  bottom: 0;
  right: -17%;
}
section.projects .star.a {
  fill: #32323D;
  --size: 35;
  top: 60vh;
  right: -10vw;
}
section.projects .star.b {
  fill: #32323D;
  --size: 45;
  top: 130vh;
  left: -10vw;
}
section.projects .star.c {
  fill: #32323D;
  --size: 35;
  top: 230vh;
  right: -10vw;
}

section.about {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
section.about .center {
  position: relative;
  z-index: 1;
  max-width: var(--content-width);
  width: var(--content-width-min);
}

section.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.contact .center {
  max-width: var(--content-width);
  width: var(--content-width-min);
  font-size: 1.3rem;
  width: 90%;
  position: relative;
  z-index: 2;
}
section.contact .center h2 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
}
section.contact .center input, section.contact .center textarea {
  display: block;
  resize: none;
  background-color: #32323D;
  border: 2px solid #41414d;
  margin-bottom: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: inherit;
  color: inherit;
  max-width: 100%;
}
section.contact .center input:focus, section.contact .center textarea:focus {
  outline: none;
  border-color: #C95B38;
}
section.contact .center .message {
  font-size: 2rem;
  font-weight: bold;
}
section.contact .star {
  fill: #2E2E37;
  --size: 80;
  bottom: 0vh;
  left: -30vw;
}

@media screen and (max-width: 900px) {
  .left, .right {
    float: none !important;
    width: 100% !important;
  }

  iframe.mobile {
    display: none;
  }

  iframe.desktop {
    bottom: 9rem;
    --scale: 0.3 !important;
    --height: 15rem !important;
    --width: 100% !important;
  }

  .inshape-1::before, .inshape-2::before, .inshape-3::before {
    display: none !important;
  }

  .projects article {
    padding-top: 1rem !important;
  }

  * {
    line-height: 1.2;
  }

  h1 {
    width: 300px;
  }

  .triangle {
    display: none;
  }

  .star {
    width: calc(var(--size) * 1vh) !important;
    height: calc(var(--size) * 1vh) !important;
  }

  body.darken section.title .star.dark {
    width: 400vh !important;
    height: 400vh !important;
    bottom: -200vh !important;
    left: -100vh !important;
  }
}
@media screen and (max-width: 500px) {
  iframe.desktop {
    --height: 10rem !important;
  }
}

/*# sourceMappingURL=main.css.map */
